<section role="header">
  <span>
    <h1>Your personal details</h1>
    <p>Update your information and find out how it is used.</p>
  </span>

  <section role="right">
    <div
      class="profile-picture-container"
      [routerLink]="['actions', 'upload-profile-picture']"
    >
      <img id="profile-picture" alt="user" [src]="user.profilePicture" />
      <div class="hover-text">
        <mat-icon> camera_alt </mat-icon>
      </div>
    </div>

    @if (loginService.getLoggedUserRole() == 'Client') {
      <section role="genius">
        <mat-progress-bar mode="determinate" [value]="user.geniusXp">
        </mat-progress-bar>

        <span class="font-grey">
          Genius level {{ user.geniusLevel }} - {{ user.geniusXp }}/100 XP
        </span>
      </section>
    }
  </section>
</section>

<section role="content">
  <section role="buttons">
    <button
      mat-button
      color="primary"
      class="edit"
      type="button"
      (click)="toggleEditing()"
      [disabled]="editing && userForm.invalid"
    >
      {{ editing ? 'Save changes' : 'Edit details' }}
    </button>

    @if (editing) {
      <button
        mat-button
        color="warn"
        class="edit"
        type="button"
        (click)="cancelEditing()"
      >
        Cancel
      </button>
    }
  </section>

  <section role="display">
    @if (!editing) {
      <section role="personal-information">
        <section>
          <span>First name</span>
          <span> {{ user.firstName }} </span>
        </section>

        <section>
          <span>Last name</span>
          <span>
            {{ user.lastName }}
          </span>
        </section>

        <section>
          <span>Phone number</span>
          <span>{{ user.phoneNumber }}</span>
        </section>

        <section>
          <span>Nationality</span>
          <span>{{ user.nationality }}</span>
        </section>

        <section>
          <span>Gender</span>
          <span>{{ userGenderMapper(user.gender) }}</span>
        </section>

        <section>
          <span>Address</span>
          <span>{{ user.address }}</span>
        </section>

        <section>
          <span>Date of birth</span>
          <span>{{ user.dateOfBirth | dateFormat }}</span>
        </section>
      </section>
    } @else {
      <form [formGroup]="userForm">
        <mat-form-field appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" />
          @if (userForm.get('firstName')?.errors?.['required']) {
            <mat-error> The first name is required. </mat-error>
          } @else if (userForm.get('firstName')?.errors?.['maxlength']) {
            <mat-error> Must be under 30 characters. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName" />
          @if (userForm.get('lastName')?.errors?.['required']) {
            <mat-error> The last name is required. </mat-error>
          } @else if (userForm.get('lastName')?.errors?.['maxlength']) {
            <mat-error> Must be under 30 characters. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput formControlName="phoneNumber" />
          @if (userForm.get('phoneNumber')?.errors?.['required']) {
            <mat-error> The phone number is required. </mat-error>
          } @else if (
            userForm.get('phoneNumber')?.errors?.['invalidPhoneNumber']
          ) {
            <mat-error> Invalid phone number format. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nationality</mat-label>
          <input matInput formControlName="nationality" />
          @if (userForm.get('nationality')?.errors?.['required']) {
            <mat-error> The nationality is required. </mat-error>
          } @else if (userForm.get('nationality')?.errors?.['maxlength']) {
            <mat-error> Must be under 30 characters. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" />
          @if (userForm.get('address')?.errors?.['required']) {
            <mat-error> The address is required. </mat-error>
          } @else if (userForm.get('address')?.errors?.['maxlength']) {
            <mat-error> Must be under 50 characters. </mat-error>
          }
        </mat-form-field>

        <mat-radio-group
          aria-label="Select your gender"
          formControlName="gender"
        >
          <mat-radio-button [value]="genderEnum.$0">Man</mat-radio-button>
          <mat-radio-button [value]="genderEnum.$1">Woman</mat-radio-button>
          <mat-radio-button [value]="genderEnum.$2">Other</mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="outline">
          <mat-label>Date of birth</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dateOfBirth"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    }
  </section>
</section>

@if (loginService.getLoggedUserRole() == 'Client') {
  <section role="bottom">
    <p class="font-light">
      * We use your email address to send you personalized offers and to confirm
      your bookings.
    </p>
    <p class="font-light">
      * Properties can use your phone number to contact you.
    </p>
  </section>
} @else if (loginService.getLoggedUserRole() == 'Owner') {
  <section role="bottom">
    <p class="font-light">
      * We use your email address to notify you when someone makes a booking at
      your property or to discuss reports.
    </p>
    <p class="font-light">
      * We use your phone number to contact you in case of emergencies or
      important updates.
    </p>
  </section>
}

<router-outlet hidden />
