:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#profile-picture {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  object-fit: cover;
}

section[role='header'] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

section[role='personal-information'] {
  display: grid;
  grid-template-columns: 1fr 2fr auto;
  gap: 16px 32px;
  align-items: center;
}

.edit {
  justify-self: start;
}
