:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#profile-picture {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  object-fit: cover;
}

section[role='header'] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

section[role='content'] {
  display: grid;
  grid-template-areas: 'display buttons';
  grid-template-columns: 1fr auto;
  grid-column-gap: 64px;
}

section[role='display'] {
  grid-area: display;
}

section[role='buttons'] {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

section[role='personal-information'] {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section[role='personal-information'] section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

form {
  display: flex;
  flex-direction: column;
}

mat-radio-group {
  margin-bottom: 22px;
}

section[role='bottom'] {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.font-light {
  font-weight: lighter;
  font-size: 0.8rem;
}
