<section role="header">
  <span>
    <h1>Your personal details</h1>
    <p>Update your information and find out how it is used.</p>
  </span>
  <img id="profile-picture" alt="profile picture" src="assets/hotel1.jpg" />
</section>

<section role="personal-information">
  <span class="property">First name</span>
  <span class="value">Dragos</span>
  <button mat-button color="primary" class="edit">Edit</button>

  <span>Last name</span>
  <span>Nichifor</span>
  <button mat-button color="primary">Edit</button>

  <span>Email</span>
  <span>dragosnichifor14.gmail.com</span>
  <button mat-button color="primary">Edit</button>

  <span>Phone number</span>
  <span>0748513025</span>
  <button mat-button color="primary">Edit</button>

  <span>Nationality</span>
  <span>Romania</span>
  <button mat-button color="primary">Edit</button>

  <span>Gender</span>
  <span>Man</span>
  <button mat-button color="primary">Edit</button>

  <span>Address</span>
  <span>1 Decembrie 1918 nr. 27</span>
  <button mat-button color="primary">Edit</button>

  <span>Date of birth</span>
  <span>14/10/2002</span>
  <button mat-button color="primary">Edit</button>
</section>

<hr />

<section>
  <p>
    * We use your email address to send you personalized offers and to confirm
    your bookings.
  </p>
  <p>* Properties can use your phone number to contact you.</p>
</section>
