:host {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#profile-picture {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  object-fit: cover;
}

section[role='header'] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

form {
  display: grid;
  grid-template-areas: 'form button';
  grid-template-columns: 1fr auto;
  grid-column-gap: 64px;
}

section[role='personal-information'] {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section[role='personal-information'] section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section[role='form'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-radio-group {
  margin-bottom: 22px;
}

section[role='edit'] {
  grid-area: button;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
