<section role="header">
  <span>
    <h1>Your personal details</h1>
    <p>Update your information and find out how it is used.</p>
  </span>
  <img
    id="profile-picture"
    alt="User profile picture"
    [src]="user.profilePicture"
  />
</section>

<form [formGroup]="userForm">
  <section role="edit">
    <button
      mat-button
      color="primary"
      class="edit"
      type="button"
      (click)="toggleEditing()"
      [disabled]="editing && userForm.invalid"
    >
      {{ editing ? 'Save changes' : 'Edit details' }}
    </button>

    @if (editing) {
      <button
        mat-button
        color="warn"
        class="edit"
        type="button"
        (click)="cancelEditing()"
      >
        Cancel
      </button>
    }
  </section>

  @if (!editing) {
    <section role="personal-information">
      <section>
        <span>First name</span>
        <span> {{ userForm.get('firstName')?.value }} </span>
      </section>

      <section>
        <span>Last name</span>
        <span>
          {{ userForm.get('lastName')?.value }}
        </span>
      </section>

      <section>
        <span>Phone number</span>
        <span>{{ userForm.get('phoneNumber')?.value }}</span>
      </section>

      <section>
        <span>Nationality</span>
        <span>{{ userForm.get('nationality')?.value }}</span>
      </section>

      <section>
        <span>Gender</span>
        <span>{{ userGenderMapper(userForm.get('gender')?.value) }}</span>
      </section>

      <section>
        <span>Address</span>
        <span>{{ userForm.get('address')?.value }}</span>
      </section>

      <section>
        <span>Date of birth</span>
        <span>{{ userForm.get('dateOfBirth')?.value | dateFormat }}</span>
      </section>
    </section>
  } @else {
    <section role="form">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error>The first name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error>The last name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber" />
        <mat-error>The phone number is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nationality</mat-label>
        <input matInput formControlName="nationality" />
        <mat-error>The nationality is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
        <mat-error>The address is required</mat-error>
      </mat-form-field>

      <mat-radio-group aria-label="Select your gender" formControlName="gender">
        <mat-radio-button value="{{ 0 }}">Man</mat-radio-button>
        <mat-radio-button value="{{ 1 }}">Woman</mat-radio-button>
        <mat-radio-button value="{{ 2 }}">Other</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </section>
  }
</form>
<hr />

<section>
  <p>
    * We use your email address to send you personalized offers and to confirm
    your bookings.
  </p>
  <p>* Properties can use your phone number to contact you.</p>
</section>
