<app-page-header title="Properties matching your search">
  <button
    mat-button
    color="primary"
    button
    [routerLink]="['/main/our-recommendations']"
  >
    See our recommendations
  </button>
</app-page-header>

<mat-nav-list>
  <cdk-virtual-scroll-viewport
    scrollWindow
    [itemSize]="248"
    [maxBufferPx]="3000"
  >
    <ng-container *cdkVirtualFor="let property of propertiesDataSource">
      @if (!property) {
        <app-property-card-placeholder></app-property-card-placeholder>
      } @else {
        <app-property-card
          [property]="property"
          [routerLink]="['/properties', property.id, 'preview']"
          [queryParams]="activatedRoute.snapshot.queryParams"
        >
        </app-property-card>
      }
    </ng-container>
  </cdk-virtual-scroll-viewport>
</mat-nav-list>

@if (propertiesDataSource.totalCount == 0) {
  <h2>There are no available properties matching your search criteria 🤕</h2>
}
