<cdk-virtual-scroll-viewport scrollWindow itemSize="56">
  <app-page-header title="Properties">
    <button mat-button button color="primary" routerLink="new">Add</button>
  </app-page-header>

  <mat-nav-list>
    <a
      mat-list-item
      *cdkVirtualFor="let property of properties"
      [routerLink]="[property.id]"
      routerLinkActive="active"
    >
      <span matListItemIcon>
        <mat-icon [matBadge]="3" matBadgeSize="small"> person_pin </mat-icon>
      </span>

      <span matListItemTitle>{{ property.name }}</span>
    </a>
  </mat-nav-list>
</cdk-virtual-scroll-viewport>

<router-outlet hidden />
