:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px;
}

section[role='actions'] {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 8px;
}

section[role='grid'] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

section[role='left'],
section[role='right'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#sender {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

#sender img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#sender p {
  margin: 0;
}

.font-light {
  font-weight: lighter;
  font-size: 0.8rem;
}

section[role='page-content'] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section[role='details'] {
  display: grid;
  grid-template-areas: 'booking-details user-details';
  grid-template-columns: 1fr auto;
  grid-column-gap: 16px;
}

section[role='user-details'] {
  grid-area: user-details;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

section[role='expected-guest'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='expected-guest'] section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

section[role='guest-information'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='guest-information'] section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

section[role='booking-details'] {
  grid-area: booking-details;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

section[role='booking-details'] section[role='booking-layout'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.center-span {
  display: flex;
  justify-items: center;
  align-content: center;
  gap: 8px;
}
