<app-page-header
  id="property-name"
  [title]="property.name + ' ' + generateStarRating(property.rating)"
>
  <button
    mat-button
    button
    color="primary"
    [routerLink]="['view', 'rooms']"
    [queryParams]="activatedRoute.snapshot.queryParams"
  >
    Reserve now
  </button>
</app-page-header>

<section role="gallery-facilities-map">
  <mat-grid-list [cols]="gridCols" gutterSize="12px" [rowHeight]="200">
    @for (image of gridImages; track image) {
      <mat-grid-tile [colspan]="image.cols" [rowspan]="image.rows">
        <img alt="Hotel picture" [src]="image.image" />
      </mat-grid-tile>
    }
  </mat-grid-list>

  <section role="facilities-map">
    <section role="facilities">
      <section role="location-general-rating">
        <span>
          <mat-icon color="primary">location_pin</mat-icon>
          <span>
            {{ property.location }} - <a href="" target="_blank">View on map</a>
          </span>
        </span>

        <section role="general-rating">
          <h2 id="general-rating-heading">Superb</h2>
          <div class="property-rating-square">
            {{ transformToOneDecimal(property.reviewRating) }}
          </div>
        </section>
      </section>
      <h2>Property facilities</h2>

      @if (property.hasFreeWiFi) {
        <span>
          <mat-icon color="primary">wifi</mat-icon>
          <span>Free wifi</span>
        </span>
      }

      @if (property.hasParking) {
        <span>
          <mat-icon color="primary">local_parking</mat-icon>
          <span>Parking</span>
        </span>
      }

      @if (property.hasPool) {
        <span>
          <mat-icon color="primary">pool</mat-icon>
          <span>Pool</span>
        </span>
      }

      @if (property.hasRestaurant) {
        <span>
          <mat-icon color="primary">restaurant</mat-icon>
          <span>Restaurant</span>
        </span>
      }

      @if (property.hasBreakfast) {
        <span>
          <mat-icon color="primary">free_breakfast</mat-icon>
          <span>Breakfast</span>
        </span>
      }

      @if (property.hasFitnessCenter) {
        <span>
          <mat-icon color="primary">fitness_center</mat-icon>
          <span>Fitness center</span>
        </span>
      }

      @if (property.hasRoomService) {
        <span>
          <mat-icon color="primary">room_service</mat-icon>
          <span>Room service</span>
        </span>
      }

      @if (property.hasPetFriendlyPolicy) {
        <span>
          <mat-icon color="primary">pets</mat-icon>
          <span>Pet friendly</span>
        </span>
      }

      @if (property.hasFreeCancellation) {
        <span>
          <mat-icon color="primary">cancel</mat-icon>
          <span>Free cancellation</span>
        </span>
      }
    </section>

    <section role="map">
      <h2>View on map</h2>
      <img alt="Google maps location" src="assets/google-maps.jpg" />
    </section>
  </section>
</section>

<div [innerHTML]="property.description"></div>

<section role="rooms">
  <section role="title-rooms">
    <h2>Availability</h2>

    <table mat-table [dataSource]="property.rooms.slice(0, 2)">
      <ng-container matColumnDef="roomType">
        <th mat-header-cell *matHeaderCellDef>Room type</th>
        <td mat-cell *matCellDef="let room">
          <h3>{{ roomTypeMapper(room.type) }} room</h3>

          <section role="room-facilities">
            @if (room.hasAirConditioning) {
              <span>
                <mat-icon>ac_unit</mat-icon>
                Air conditioning
              </span>
            }

            @if (room.hasBalcony) {
              <span>
                <mat-icon>deck</mat-icon>
                Balcony
              </span>
            }

            @if (room.hasHairdryer) {
              <span>
                <mat-icon>waves</mat-icon>
                Hairdryer
              </span>
            }

            @if (room.hasPrivateBathroom) {
              <span>
                <mat-icon>shower</mat-icon>
                Private bathroom
              </span>
            }

            @if (room.hasRefrigerator) {
              <span>
                <mat-icon>kitchen</mat-icon>
                Refrigerator
              </span>
            }

            @if (room.hasSeaView) {
              <span>
                <mat-icon>beach_access</mat-icon>
                Sea view
              </span>
            }

            @if (room.hasTowels) {
              <span>
                <mat-icon>local_laundry_service</mat-icon>
                Towels
              </span>
            }
          </section>
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfGuests">
        <th mat-header-cell *matHeaderCellDef>Number of guests</th>
        <td mat-cell *matCellDef="let room">
          <section role="room-guests">
            <span *ngIf="room.adultCapacity > 0">
              <section>
                <ng-container
                  *ngFor="let _ of [].constructor(room.adultCapacity)"
                >
                  <mat-icon>person</mat-icon>
                </ng-container>
              </section>
              adults
            </span>

            <span *ngIf="room.childrenCapacity > 0">
              <section>
                <ng-container
                  *ngFor="let _ of [].constructor(room.childrenCapacity)"
                >
                  <mat-icon>person</mat-icon>
                </ng-container>
              </section>
              children
            </span>
          </section>
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let room">{{ room.price }} lei</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>

  @if (property.rooms.length > 0) {
    <section>
      <button
        mat-button
        color="primary"
        [routerLink]="['view', 'rooms']"
        [queryParams]="activatedRoute.snapshot.queryParams"
      >
        See all rooms
      </button>
    </section>
  }
</section>

@if (property.reviews.length !== 0) {
  <section role="reviews">
    <section role="header-reviews">
      <section role="title-subtitle-reviews">
        <h2>See our guest reviews</h2>

        <span>
          {{ property.reviews.length }}
          @if (property.reviews.length === 1) {
            review
          } @else {
            reviews
          }
        </span>
      </section>

      <section role="content-reviews">
        <ng-container *ngFor="let review of property.reviews.slice(0, 4)">
          <app-review-card [review]="review"></app-review-card>
        </ng-container>
      </section>
    </section>

    @if (property.reviews.length > 0) {
      <section>
        <button
          mat-button
          color="primary"
          [routerLink]="['view', 'reviews']"
          [queryParams]="activatedRoute.snapshot.queryParams"
        >
          Read all reviews
        </button>
      </section>
    }
  </section>
}

<section role="contact">
  <h2>Contact</h2>

  <section role="contact-information">
    <span>
      <mat-icon>email</mat-icon>
      {{ property.email }}
    </span>

    <span>
      <mat-icon>phone</mat-icon>
      {{ property.phoneNumber }}
    </span>
  </section>
</section>

<router-outlet hidden />
