:host {
  display: flex !important;
  flex-direction: column !important;
  gap: 32px !important;
  padding: 0 64px !important;
}

#property-name {
  grid-area: header;
  height: 'min-content';
  position: sticky;
  top: 14.5px;
}

mat-grid-tile {
  overflow: hidden;
}

mat-grid-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section[role='gallery-facilities-map'] {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-areas: 'gallery facilities-map';
  gap: 64px;
  padding: 16px 0;
}

#general-rating-heading {
  margin: 0;
}

.property-rating-square {
  grid-area: rating;
  background-color: #5e35b1;
  color: white;
  display: inline;
  padding: 8px;
  height: min-content;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

mat-grid-list {
  grid-area: gallery;
}

section[role='facilities-map'] {
  grid-area: facilities-map;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section[role='facilities'] {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section[role='facilities'] span {
  align-items: center;
}

section[role='location-general-rating'] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section[role='general-rating'] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

section[role='map'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='map'] img {
  height: 200px;
  width: 350px;
}

section[role='facilities'] span {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

section[role='rooms'] {
  display: flex;
  flex-direction: column;
}

section[role='rooms'] table th {
  background-color: #5e35b1 !important;
  color: white;
}

section[role='rooms'] table td {
  padding: 16px 0;
}

section[role='rooms'] table section[role='room-facilities'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='rooms'] table section[role='room-facilities'] span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

section[role='rooms'] table section[role='room-guests'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='rooms'] table section[role='room-guests'] span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

section[role='reviews'] {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section[role='reviews'] h2 {
  margin: 0;
}

section[role='header-reviews'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='title-subtitle-reviews'] {
  display: flex;
  flex-direction: column;
}

section[role='title-subtitle-reviews'] span {
  color: grey;
}

section[role='reviews'] section[role='content-reviews'] {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

section[role='reviews'] section[role='content-reviews'] {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

section[role='reviews'] section[role='content-reviews'] app-review-card {
  flex: 1 1;
}

section[role='contact'] {
  display: flex;
  flex-direction: column;
}

section[role='contact'] section[role='contact-information'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='contact'] section[role='contact-information'] span {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
