:host {
  display: flex !important;
  flex-direction: column !important;
  padding: 0 64px !important;
}

section[role='content'] {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#property-name {
  grid-area: header;
  height: 'min-content';
  position: sticky;
  top: 14.5px;
}

mat-grid-tile {
  overflow: hidden;
}

mat-grid-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section[role='gallery-search'] {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'gallery search';
  gap: 64px;
  padding: 16px 0;
}

section[role='general-rating-map'] {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

section[role='map'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.aligned-span {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.space-between-span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.aligned-span h2 {
  margin: 0;
}

.space-between-span h2 {
  margin: 0;
}

section[role='search'] {
  grid-area: search;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

section[role='search'] form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section[role='search'] form section {
  display: flex;
  flex-direction: column;
}

section[role='gallery'] {
  grid-area: gallery;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.property-rating-square {
  grid-area: rating;
  background-color: #5e35b1;
  color: white;
  display: inline;
  padding: 8px;
  height: min-content;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

mat-grid-list {
  grid-area: gallery;
}

section[role='facilities-section'] {
  display: flex;
  flex-direction: column;
}

section[role='facilities'] {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 16px;
}

mat-card-content {
  display: flex;
  gap: 8px !important;
  align-items: center !important;
  justify-content: center !important;
}

mat-card-content mat-icon {
  overflow: visible !important;
}

mat-card {
  align-items: center !important;
  justify-content: center !important;
}

section[role='about'] {
  display: flex;
  flex-direction: column;
}

section[role='rooms'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='title-rooms'] {
  display: flex;
  flex-direction: column;
}

section[role='rooms'] table th {
  background-color: #5e35b1 !important;
  color: white;
}

section[role='rooms'] table td {
  padding: 16px;
}

section[role='rooms'] table section[role='room-facilities'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='rooms'] table section[role='room-facilities'] span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

section[role='rooms'] table section[role='room-guests'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='rooms'] table section[role='room-guests'] span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

section[role='reviews'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='reviews'] h2 {
  margin: 0;
}

section[role='header-reviews'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='title-subtitle-reviews'] {
  display: flex;
  flex-direction: column;
}

section[role='reviews'] section[role='content-reviews'] {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

section[role='reviews'] section[role='content-reviews'] {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

section[role='reviews'] section[role='content-reviews'] app-review-card {
  flex: 1 1;
}

section[role='contact'] {
  display: flex;
  flex-direction: column;
}

section[role='contact'] section[role='contact-information'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='contact'] section[role='contact-information'] span {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.font-light {
  font-size: 0.8rem;
  color: grey;
}

#description-text {
  color: grey;
  font-size: 1rem;
}

.icon-light {
  color: grey;
}

#room-title-text {
  font-weight: bold;
}

#price-text {
  margin: 0;
  color: grey !important;
}

section[role='final-button'] {
  display: grid;
}

.end-section {
  justify-self: end;
}

.red-text {
  color: red;
}

.cut-text {
  text-decoration: line-through;
}

.corner-banner {
  overflow: visible;
  z-index: 20;
  position: absolute;
  top: 100px;
  left: -20px;
  background-color: red;
  color: white;
  padding: 10px;
  transform: rotate(-45deg);
  transform-origin: top left;
  text-align: center;
  width: 150px;
  font-size: 14px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
