:host {
  display: flex !important;
  flex-direction: column !important;
  gap: 32px !important;
  padding: 0 64px !important;
}

#property-name {
  grid-area: header;
  height: 'min-content';
  position: sticky;
  top: 14.5px;
}

mat-grid-tile {
  overflow: hidden;
}

mat-grid-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section[role='gallery-facilities-map'] {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-areas: 'gallery facilities-map';
  gap: 64px;
  padding: 16px 32px;
}

mat-grid-list {
  grid-area: gallery;
}

section[role='facilities-map'] {
  grid-area: facilities-map;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section[role='facilities'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='map'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='map'] img {
  height: 200px;
  width: 350px;
}

section[role='facilities'] span {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

section[role='rooms'] {
  display: flex;
  flex-direction: column;
}

section[role='rooms'] table th {
  background-color: #5e35b1 !important;
  color: white;
}

section[role='rooms'] table td {
  padding: 16px 0;
}

section[role='rooms'] table section[role='room-facilities'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='rooms'] table section[role='room-facilities'] span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

section[role='rooms'] table section[role='room-guests'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='rooms'] table section[role='room-guests'] span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

section[role='reviews'] {
  display: flex;
  flex-direction: column;
}

section[role='reviews'] section[role='user-reviews'] {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
