<section role="actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <a
    mat-button
    color="primary"
    [disabled]="reviewForm.invalid"
    (click)="updateReview(reviewForm.value)"
  >
    Update
  </a>

  <a mat-button [routerLink]="['actions', 'delete']" color="warn">Delete</a>
</section>

<p class="font-light">
  We appreciate your feedback and would love to hear more! Please let us know
  how we've improved or what else we can do better. Updating your review helps
  us to continue enhancing our services! 😄
</p>

<form [formGroup]="reviewForm">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
    @if (reviewForm.get('title')?.errors?.['required']) {
      <mat-error>The title is required.</mat-error>
    }
    @if (reviewForm.get('title')?.errors?.['maxlength']) {
      <mat-error> The title cannot be more than 30 characters. </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <editor appTinyEditor formControlName="description" />
    @if (reviewForm.get('description')?.errors?.['required']) {
      <mat-error>The description is required.</mat-error>
    }
    @if (reviewForm.get('description')?.errors?.['maxlength']) {
      <mat-error>
        The description cannot be more than 500 characters.
      </mat-error>
    }
  </mat-form-field>

  <section role="rating">
    <span>
      🚀 Your rating is {{ reviewForm.get(['rating'])!.value | json }}
    </span>
    <star-rating-control formControlName="rating"></star-rating-control>
  </section>
</form>

<router-outlet hidden />
