<section role="booking-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  @if (!isInPast()) {
    <button
      mat-button
      color="primary"
      type="submit"
      (click)="updateBooking(bookingForm.value)"
      [disabled]="bookingForm.invalid"
    >
      Update
    </button>
  }

  @if (isInPast()) {
    <a
      mat-button
      [routerLink]="['actions', 'review', bookingDetails.propertyDetails.id]"
      color="secondary"
    >
      Leave review
    </a>
  }

  <a
    mat-button
    color="warn"
    [routerLink]="['actions', 'report', bookingDetails.propertyDetails.id]"
  >
    Report
  </a>

  @if (!isInPast()) {
    <a mat-button color="warn" [routerLink]="['actions', 'cancel']">Cancel</a>
  }
</section>

<section role="page-content">
  <app-page-header
    title="Your {{ isInPast() ? '' : 'upcoming' }} stay at {{
      bookingDetails.propertyDetails.name
    }} {{ generateStarRating(bookingDetails.propertyDetails.rating) }}"
  >
    <section button role="creation-date">
      <mat-chip id="custom-mat-chip">
        🕥 {{ bookingDetails.createdOn | dateFormat }}
      </mat-chip>
    </section>
  </app-page-header>

  <section role="details">
    <section role="user-details">
      <section role="expected-guest">
        <h2>{{ isInPast() ? 'Guest' : 'Expected guest' }}</h2>
        <section>
          <span class="font-light">
            Name: {{ bookingDetails.firstNameOnBooking }}
            {{ bookingDetails.lastNameOnBooking }}
          </span>
          <span class="font-light">
            Country: {{ bookingDetails.countryOnBooking }}
          </span>
        </section>
      </section>

      <section role="guest-information">
        <h2>Guest information</h2>
        <section>
          <span class="font-light">
            Email: {{ bookingDetails.emailOnBooking }}
          </span>
          <span class="font-light">
            Phone number: {{ bookingDetails.phoneNumberOnBooking }}</span
          >
        </section>
      </section>

      <section role="guest-information">
        <h2>Booked room</h2>
        <section>
          <span class="font-light">
            {{ roomTypeMapper(bookingDetails.roomDetails.type) }} Room no.
            {{ bookingDetails.roomDetails.number }}
          </span>

          <section role="booked-room">
            <span class="font-light">
              <ng-container
                *ngFor="let _ of [].constructor(bookingDetails.roomDetails)"
              >
                <mat-icon class="icon-light">person</mat-icon>
              </ng-container>
              adults
            </span>
            <span
              class="font-light"
              [style.visibility]="
                bookingDetails.roomDetails.childrenCapacity === 0
                  ? 'hidden'
                  : 'visible'
              "
            >
              <ng-container
                *ngFor="
                  let _ of [].constructor(
                    bookingDetails.roomDetails.childrenCapacity
                  )
                "
              >
                <mat-icon class="icon-light">person</mat-icon>
              </ng-container>
              children
            </span>
          </section>
        </section>
      </section>

      <section role="guest-information">
        <mat-divider></mat-divider>
        <h2>Total price: {{ bookingDetails.totalPrice }} lei</h2>
      </section>
    </section>

    <section role="booking-details">
      <section role="booking-layout">
        <h2>Location</h2>
        <span id="location-text">
          <span>
            <mat-icon color="primary">location_pin</mat-icon>
          </span>

          <a
            href="https://www.google.com/maps/place/{{
              bookingDetails.propertyDetails.location
            }}"
            target="_blank"
          >
            {{ bookingDetails.propertyDetails.location }} - See on map
          </a>
        </span>

        <app-google-maps-preview
          [address]="bookingDetails.propertyDetails.location"
          [height]="300"
          [width]="450"
        >
        </app-google-maps-preview>
      </section>

      <section role="booking-layout">
        <h2>Facilities</h2>

        <section role="facilities">
          @if (bookingDetails.propertyDetails.hasFreeWiFi) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">wifi</mat-icon>
                <span>Free wifi</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.propertyDetails.hasParking) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">local_parking</mat-icon>
                <span>Parking</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.propertyDetails.hasPool) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">pool</mat-icon>
                <span>Pool</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.propertyDetails.hasRestaurant) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">restaurant</mat-icon>
                <span>Restaurant</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.propertyDetails.hasBreakfast) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">free_breakfast</mat-icon>
                <span>Breakfast</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.propertyDetails.hasFitnessCenter) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">fitness_center</mat-icon>
                <span>Fitness center</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.propertyDetails.hasRoomService) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">room_service</mat-icon>
                <span>Room service</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.propertyDetails.hasPetFriendlyPolicy) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">pets</mat-icon>
                <span>Pet friendly</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.propertyDetails.hasFreeCancellation) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">cancel</mat-icon>
                <span>Free cancellation</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.roomDetails.hasAirConditioning) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">ac_unit</mat-icon>
                <span>Air conditioning</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.roomDetails.hasBalcony) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">deck</mat-icon>
                <span>Balcony</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.roomDetails.hasHairdryer) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">waves</mat-icon>
                <span>Hairdryer</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.roomDetails.hasPrivateBathroom) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">shower</mat-icon>
                <span>Private bathroom</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.roomDetails.hasRefrigerator) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">kitchen</mat-icon>
                <span>Refrigerator</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.roomDetails.hasSeaView) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">beach_access</mat-icon>
                <span>Sea view</span>
              </mat-card-content>
            </mat-card>
          }

          @if (bookingDetails.roomDetails.hasTowels) {
            <mat-card>
              <mat-card-content>
                <mat-icon color="primary">local_laundry_service</mat-icon>
                <span>Towels</span>
              </mat-card-content>
            </mat-card>
          }
        </section>
      </section>

      <section role="booking-layout">
        <h2>Property's contact information</h2>
        <section role="property-contact-information">
          <span class="font-light">
            Email: {{ bookingDetails.propertyDetails.email }}
          </span>
          <span class="font-light">
            Phone number:
            {{ bookingDetails.propertyDetails.phoneNumber }}
          </span>
        </section>
      </section>
    </section>
  </section>
</section>

@if (!isInPast()) {
  <form [formGroup]="bookingForm">
    <h2>Edit your booking details 🖋️</h2>

    <mat-form-field appearance="outline">
      <mat-label>Select an option</mat-label>
      <mat-select formControlName="expectedArrival">
        <mat-option value="I don't know">I don't know</mat-option>
        <mat-option value="10:00 - 11:00">10:00 - 11:00</mat-option>
        <mat-option value="11:00 - 12:00">11:00 - 12:00</mat-option>
        <mat-option value="12:00 - 13:00">12:00 - 13:00</mat-option>
        <mat-option value="13:00 - 14:00">13:00 - 14:00</mat-option>
        <mat-option value="14:00 - 15:00">14:00 - 15:00</mat-option>
        <mat-option value="15:00 - 16:00">15:00 - 16:00</mat-option>
        <mat-option value="16:00 - 17:00">16:00 - 17:00</mat-option>
        <mat-option value="17:00 - 18:00">17:00 - 18:00</mat-option>
        <mat-option value="18:00 - 19:00">18:00 - 19:00</mat-option>
        <mat-option value="19:00 - 20:00">19:00 - 20:00</mat-option>
        <mat-option value="20:00 - 21:00">20:00 - 21:00</mat-option>
        <mat-option value="21:00 - 22:00">21:00 - 22:00</mat-option>
        <mat-option value="22:00 - 23:00">22:00 - 23:00</mat-option>
        <mat-option value="23:00 - 00:00">23:00 - 00:00</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Special mentions</mat-label>
      <editor appTinyEditor formControlName="specialMentions" />
    </mat-form-field>
  </form>
}

<router-outlet hidden />
