form {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 8px;
}

section[role='property-actions'] {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
}

section[role='utilities'] {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: auto auto;
}
