<form
  [formGroup]="propertyForm"
  (ngSubmit)="updateProperty(propertyForm.value)"
>
  <section role="property-actions">
    <a mat-icon-button routerLink="../" color="accent">
      <mat-icon>close</mat-icon>
    </a>

    <a mat-button color="warn">Reports</a>

    <a mat-button [routerLink]="['preview']">Preview</a>

    <a mat-button [routerLink]="['actions', 'delete']">Delete</a>
  </section>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error>The property name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error>The property email is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone number</mat-label>
    <input matInput formControlName="phoneNumber" />
    <mat-error>The property phone number is required</mat-error>
  </mat-form-field>

  <section role="utilities">
    <mat-checkbox formControlName="hasFreeWiFi">Wi-Fi</mat-checkbox>
    <mat-checkbox formControlName="hasParking">Parking</mat-checkbox>
    <mat-checkbox formControlName="hasRestaurant">Restaurant</mat-checkbox>
    <mat-checkbox formControlName="hasPool">Pool</mat-checkbox>
    <mat-checkbox formControlName="hasFitnessCentre">
      Fitness center
    </mat-checkbox>
    <mat-checkbox formControlName="hasFreeCancellation">
      Free cancellation
    </mat-checkbox>
    <mat-checkbox formControlName="hasPetFriendlyPolicy">
      Pet friendly
    </mat-checkbox>
    <mat-checkbox formControlName="hasRoomService">Room service</mat-checkbox>
    <mat-checkbox formControlName="hasBreakfast">Breakfast</mat-checkbox>
  </section>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <editor appTinyEditor formControlName="description" />
    <mat-error>The property description is required</mat-error>
  </mat-form-field>
</form>

<router-outlet hidden />
