<section role="property-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="propertyForm.invalid || this.files.length == 0"
    (click)="createProperty(propertyForm.value)"
  >
    Save
  </button>
</section>

<form
  [formGroup]="propertyForm"
  (ngSubmit)="createProperty(propertyForm.value)"
>
  <section role="grid">
    <section role="grid-right">
      <app-google-maps-preview
        [address]="addressOnMap"
        [height]="300"
        [width]="450"
      >
      </app-google-maps-preview>

      <a mat-button (click)="bindAddressToAddressOnMap()">
        Check location on map
      </a>
    </section>

    <section role="grid-left">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
        @if (propertyForm.get('name')?.errors?.['required']) {
          <mat-error> The name is required. </mat-error>
        } @else if (propertyForm.get('name')?.errors?.['maxlength']) {
          <mat-error> The name should be under 30 characters. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Property type</mat-label>
        <mat-select matInput formControlName="type">
          @for (type of propertyTypes; track type) {
            <mat-option [value]="type.value">{{ type.type }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput formControlName="location" />
        @if (propertyForm.get('location')?.errors?.['required']) {
          <mat-error> The location is required. </mat-error>
        } @else if (propertyForm.get('location')?.errors?.['maxlength']) {
          <mat-error> The location should be under 50 characters. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        @if (propertyForm.get('email')?.errors?.['required']) {
          <mat-error> The email is required. </mat-error>
        } @else if (propertyForm.get('email')?.errors?.['email']) {
          <mat-error> Invalid email format. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber" />
        @if (propertyForm.get('phoneNumber')?.errors?.['required']) {
          <mat-error> The phone number is required. </mat-error>
        } @else if (
          propertyForm.get('phoneNumber')?.errors?.['invalidPhoneNumber']
        ) {
          <mat-error> Invalid phone number format. </mat-error>
        }
      </mat-form-field>
    </section>
  </section>

  <section role="utilities-description">
    <section role="utilities">
      <mat-slide-toggle formControlName="hasFreeWiFi">
        <span class="font-light">Wi-Fi</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasParking">
        <span class="font-light">Parking</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasRoomService">
        <span class="font-light">Room service</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasFreeCancellation">
        <span class="font-light">Free cancellation</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="prepaymentNeeded">
        <span class="font-light">Prepayment needed</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasRestaurant">
        <span class="font-light">Restaurant</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasBreakfast">
        <span class="font-light">Breakfast</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasKitchen">
        <span class="font-light">Kitchen</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasPool">
        <span class="font-light">Pool</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasFitnessCenter">
        <span class="font-light">Fitness center</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasPetFriendlyPolicy">
        <span class="font-light">Pet friendly</span>
      </mat-slide-toggle>
    </section>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <editor appTinyEditor formControlName="description" />
      @if (propertyForm.get('description')?.errors?.['required']) {
        <mat-error> The description is required. </mat-error>
      } @else if (propertyForm.get('description')?.errors?.['maxlength']) {
        <mat-error>
          The description should be under 1000 characters.
        </mat-error>
      }
    </mat-form-field>
  </section>

  <section role="rating-uploader">
    <section role="rating">
      <span class="font-light">
        🚀 The property rating is: {{ propertyForm.get(['rating'])!.value }}
      </span>
      <star-rating-control formControlName="rating"></star-rating-control>
    </section>

    <app-multiple-picture-uploader
      [title]="'Upload pictures of the property 📸'"
    >
    </app-multiple-picture-uploader>
  </section>
</form>
