:host {
  display: grid !important;
  grid-template-areas: 'header filtersForm' 'searchForm filtersForm' 'list filtersForm';
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 5fr 1fr;
  grid-gap: 16px;
  height: 100%;
  position: relative;
}

#search-header {
  grid-area: header;
  position: sticky;
  top: 14.5px;
}

#filter-header {
  z-index: 0;
}

form[role='searchForm'] {
  grid-area: searchForm;
  padding: 0 16px;
}

form[role='filtersForm'] {
  grid-area: filtersForm;
  padding: 0 8px;
  width: 100%;
  flex-direction: column;
  display: flex;
  gap: 8px;
}

section[role='filters'] {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

:host router-outlet {
  display: none;

  & ::ng-deep + * {
    grid-area: list;
  }
}

mat-panel-description {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

mat-icon {
  overflow: unset;
}

:host ::ng-deep mat-slide-toggle .mdc-form-field {
  gap: 8px !important;
}

mat-icon {
  color: grey;
}

section[role='room-search-details'] {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
