:host {
  display: grid !important;
  grid-template-areas: 'searchForm filters' 'list filters';
  grid-template-rows: min-content 1fr;
  grid-template-columns: 5fr 1fr;
  grid-gap: 0 16px;
  height: 100%;
  position: relative;
}

form[role='filters'] {
  grid-area: filters;
  padding: 0 8px;
  width: 100%;
}

form[role='searchForm'] {
  grid-area: searchForm;
  padding: 0 16px;
}
