<app-page-header
  title="Where would you like to travel next? 😄"
  id="search-header"
>
  <button
    mat-button
    button
    color="primary"
    type="submit"
    (click)="submitForm()"
    [disabled]="searchPropertyForm.invalid"
  >
    Explore now
  </button>
</app-page-header>

<form [formGroup]="searchPropertyForm" role="searchForm">
  <mat-accordion multi class="mat-elevation-z8">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>Choose your next adventure</mat-panel-title>
        <mat-panel-description>
          <mat-icon>location_on</mat-icon>
          <span>
            Tell us the place you want to travel or the property name.
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline">
        <mat-label>Where are you going?</mat-label>
        <input
          matInput
          formControlName="location"
          placeholder="Where are you going?"
        />
        <mat-icon matPrefix>explore</mat-icon>
        <a matSuffix mat-icon-button (click)="resetLocationInput()">
          <mat-icon>cancel</mat-icon>
        </a>
        @if (searchPropertyForm.get('location')?.errors?.['maxlength']) {
          <mat-error> Must be under 100 characters. </mat-error>
        }
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>When will your journey begin?</mat-panel-title>
        <mat-panel-description>
          <mat-icon>date_range</mat-icon>
          <span>Let us know your travel dates.</span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="outline">
        <mat-label>Your stay dates</mat-label>
        <mat-date-range-input
          [rangePicker]="picker"
          [min]="minDate"
          [max]="maxDate"
        >
          <input matStartDate formControlName="startDate" />
          <input matEndDate formControlName="endDate" />
        </mat-date-range-input>

        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>

        <mat-date-range-picker #picker></mat-date-range-picker>

        @if (
          searchPropertyForm.get('startDate')?.errors?.['afterToday'] ||
          searchPropertyForm.get('endDate')?.errors?.['afterTomorrow']
        ) {
          <mat-error>Enter a valid time span. </mat-error>
        }
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Room and guest arrangements</mat-panel-title>
        <mat-panel-description>
          <mat-icon>person_outline</mat-icon>
          <span>
            Specify the number of guests and the number of rooms you would like
            to reserve.
          </span>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section role="room-search-details">
        <mat-form-field appearance="outline">
          <mat-label>Adults</mat-label>
          <input
            matInput
            formControlName="numberOfAdults"
            type="number"
            min="1"
            max="8"
          />
          <mat-icon matPrefix>person</mat-icon>
          @if (searchPropertyForm.get('numberOfAdults')?.errors?.['required']) {
            <mat-error> Number of adults is required. </mat-error>
          }
          @if (searchPropertyForm.get('numberOfAdults')?.errors?.['max']) {
            <mat-error> Must be under 8. </mat-error>
          }
          @if (searchPropertyForm.get('numberOfAdults')?.errors?.['min']) {
            <mat-error> Must be at least 1. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Children</mat-label>
          <input
            matInput
            formControlName="numberOfChildren"
            type="number"
            min="0"
            max="8"
          />
          <mat-icon matPrefix>child_care</mat-icon>
          @if (
            searchPropertyForm.get('numberOfChildren')?.errors?.['required']
          ) {
            <mat-error> Number of children is required. </mat-error>
          }
          @if (searchPropertyForm.get('numberOfChildren')?.errors?.['max']) {
            <mat-error> Must be under 8. </mat-error>
          }
          @if (searchPropertyForm.get('numberOfChildren')?.errors?.['min']) {
            <mat-error> Must be valid. </mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Rooms</mat-label>
          <input
            matInput
            formControlName="numberOfRooms"
            type="number"
            min="1"
            max="4"
          />
          <mat-icon matPrefix>hotel</mat-icon>
          @if (searchPropertyForm.get('numberOfRooms')?.errors?.['required']) {
            <mat-error> Number of rooms is required. </mat-error>
          }
          @if (searchPropertyForm.get('numberOfRooms')?.errors?.['max']) {
            <mat-error> Must be under 4. </mat-error>
          }
          @if (searchPropertyForm.get('numberOfRooms')?.errors?.['min']) {
            <mat-error> Must be at least 1. </mat-error>
          }
        </mat-form-field>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</form>

<form [formGroup]="filterPropertyForm" role="filtersForm">
  <app-page-header title="Filters" id="filter-header"></app-page-header>

  <mat-selection-list>
    <h2>🏡 Property filters</h2>

    <section role="filters">
      <mat-slide-toggle formControlName="hasFreeWiFi" (click)="submitForm()">
        Wi-Fi
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasParking" (click)="submitForm()">
        Parking
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasRoomService" (click)="submitForm()">
        Room service
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasRestaurant" (click)="submitForm()">
        Restaurant
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasBreakfast" (click)="submitForm()">
        Breakfast
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasKitchen" (click)="submitForm()">
        Kitchen
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasPool" (click)="submitForm()">
        Pool
      </mat-slide-toggle>

      <mat-slide-toggle
        formControlName="hasFitnessCenter"
        (click)="submitForm()"
      >
        Fitness center
      </mat-slide-toggle>

      <mat-slide-toggle
        formControlName="hasPetFriendlyPolicy"
        (click)="submitForm()"
      >
        Pet friendly
      </mat-slide-toggle>

      <mat-slide-toggle
        formControlName="hasFreeCancellation"
        (click)="submitForm()"
      >
        Free cancellation
      </mat-slide-toggle>
    </section>
  </mat-selection-list>

  <mat-divider></mat-divider>

  <mat-selection-list>
    <h2>🛏️ Room filters</h2>

    <section role="filters">
      <mat-slide-toggle
        formControlName="hasPrivateBathroom"
        (click)="submitForm()"
      >
        Private bathroom
      </mat-slide-toggle>

      <mat-slide-toggle
        formControlName="hasAirConditioning"
        (click)="submitForm()"
      >
        Air conditioning
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasTowels" (click)="submitForm()">
        Towels
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasHairdryer" (click)="submitForm()">
        Hairdryer
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasBalcony" (click)="submitForm()">
        Balcony
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasSeaView" (click)="submitForm()">
        Sea view
      </mat-slide-toggle>

      <mat-slide-toggle
        formControlName="hasRefrigerator"
        (click)="submitForm()"
      >
        Refrigerator
      </mat-slide-toggle>
    </section>
  </mat-selection-list>

  <mat-divider></mat-divider>

  <mat-selection-list>
    <h2>🌟 Rating filters</h2>

    <section role="filters">
      <mat-slide-toggle formControlName="isSuperb" (click)="submitForm()">
        Superb: +9
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="isVeryGood" (click)="submitForm()">
        Very good: +8
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="isGood" (click)="submitForm()">
        Good: +7
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="isPlesant" (click)="submitForm()">
        Plesant: +6
      </mat-slide-toggle>
    </section>
  </mat-selection-list>
</form>

<div [@routeAnimations]="getRouteAnimationData()">
  <router-outlet hidden />
</div>
