<section role="image">
  <img alt="Google maps location" src="assets/images/auth-page.jpg" />
</section>

<section role="right">
  <section role="actions">
    <a mat-icon-button routerLink="/main/our-recommendations" color="accent">
      <mat-icon>close</mat-icon>
    </a>

    <a mat-button routerLink="/auth/login" color="primary"> Login </a>
  </section>

  <section role="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
      <mat-form-field appearance="outline">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" required />
        @if (registerForm.get('firstName')?.errors?.['required']) {
          <mat-error> The first name is required. </mat-error>
        } @else if (registerForm.get('firstName')?.errors?.['maxlength']) {
          <mat-error> Must be under 30 characters. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" required />
        @if (registerForm.get('lastName')?.errors?.['required']) {
          <mat-error> The last name is required. </mat-error>
        } @else if (registerForm.get('lastName')?.errors?.['maxlength']) {
          <mat-error> Must be under 30 characters. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        @if (registerForm.get('email')?.errors?.['required']) {
          <mat-error> The email is required. </mat-error>
        } @else if (registerForm.get('email')?.errors?.['maxlength']) {
          <mat-error> Must be under 50 characters. </mat-error>
        } @else if (registerForm.get('email')?.errors?.['email']) {
          <mat-error> Invalid email format. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput formControlName="phoneNumber" required />
        @if (registerForm.get('phoneNumber')?.errors?.['required']) {
          <mat-error> The phone number is required. </mat-error>
        } @else if (
          registerForm.get('phoneNumber')?.errors?.['invalidPhoneNumber']
        ) {
          <mat-error> Invalid phone number format. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nationality</mat-label>
        <input matInput formControlName="nationality" required />
        @if (registerForm.get('nationality')?.errors?.['required']) {
          <mat-error> The nationality is required. </mat-error>
        } @else if (registerForm.get('nationality')?.errors?.['maxlength']) {
          <mat-error> Must be under 30 characters. </mat-error>
        }
      </mat-form-field>

      <mat-radio-group aria-label="Select your gender" formControlName="gender">
        <mat-radio-button [value]="genderEnum.$0">Man</mat-radio-button>
        <mat-radio-button [value]="genderEnum.$1">Woman</mat-radio-button>
        <mat-radio-button [value]="genderEnum.$2">Other</mat-radio-button>
      </mat-radio-group>

      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" required />
        @if (registerForm.get('address')?.errors?.['required']) {
          <mat-error> The address is required. </mat-error>
        } @else if (registerForm.get('address')?.errors?.['maxlength']) {
          <mat-error> Must be under 50 characters. </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date of birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfBirth"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required type="password" />
        @if (registerForm.get('password')?.errors?.['required']) {
          <mat-error> The password is required. </mat-error>
        } @else if (registerForm.get('password')?.errors?.['maxlength']) {
          <mat-error> Must be under 16 characters. </mat-error>
        } @else if (registerForm.get('password')?.errors?.['minlength']) {
          <mat-error> Must be over 8 characters. </mat-error>
        } @else if (registerForm.get('password')?.errors?.['noUppercase']) {
          <mat-error> Must have at least one uppercase letter. </mat-error>
        } @else if (registerForm.get('password')?.errors?.['noNumber']) {
          <mat-error> Must have at least one number. </mat-error>
        } @else if (
          registerForm.get('password')?.errors?.['noSpecialCharacter']
        ) {
          <mat-error> Must have at least one special character. </mat-error>
        }
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="registerForm.invalid"
      >
        Register
      </button>
    </form>
  </section>
</section>
