<form
  [formGroup]="propertyForm"
  (ngSubmit)="updateProperty(propertyForm.value)"
>
  <section role="property-actions">
    <a mat-icon-button routerLink="../" color="accent">
      <mat-icon>close</mat-icon>
    </a>

    <button
      mat-button
      color="primary"
      type="submit"
      [disabled]="propertyForm.invalid"
    >
      Update
    </button>

    <a mat-button [routerLink]="['actions', 'delete']">Delete</a>
  </section>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error>The property name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error>The property email is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone number</mat-label>
    <input matInput formControlName="phoneNumber" />
    <mat-error>The property phone number is required</mat-error>
  </mat-form-field>

  <section role="utilities-description">
    <section role="utilities">
      <mat-slide-toggle formControlName="hasFreeWiFi">Wi-Fi</mat-slide-toggle>
      <mat-slide-toggle formControlName="hasParking">Parking</mat-slide-toggle>
      <mat-slide-toggle formControlName="hasRoomService">
        Room service
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasFreeCancellation">
        Free cancellation
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="prepaymentNeeded">
        Prepayment needed
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasRestaurant">
        Restaurant
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasBreakfast">
        Breakfast
      </mat-slide-toggle>

      <mat-slide-toggle formControlName="hasKitchen">
        Kitchen
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasPool">Pool</mat-slide-toggle>
      <mat-slide-toggle formControlName="hasFitnessCenter">
        Fitness center
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasPetFriendlyPolicy">
        Pet friendly
      </mat-slide-toggle>
    </section>

    <section role="rating">
      <h2>Rating 🚀</h2>
      <mat-slider min="1" max="5" step="1" discrete>
        <input matSliderThumb formControlName="rating" />
      </mat-slider>
    </section>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <editor appTinyEditor formControlName="description" />
      <mat-error>The property description is required</mat-error>
    </mat-form-field>
  </section>

  <app-multiple-picture-uploader
    [title]="'Update the pictures of the property'"
  >
  </app-multiple-picture-uploader>
</form>

<router-outlet hidden />
