:host {
  display: flex;
  flex-direction: column;
  padding: 0 32px !important;
  gap: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

section[role='property-actions'] {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto;
  align-items: center;
  gap: 8px;
}

section[role='utilities'] {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: auto auto;
  grid-column-gap: 8px;
  grid-row-gap: 16px;
}

section[role='rating'] {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

section[role='utilities-description'] {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section[role='rating-uploader'] {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.font-light {
  font-size: 0.8rem;
  color: grey;
}

:host ::ng-deep mat-slide-toggle .mdc-form-field {
  gap: 8px !important;
}
