<section role="property-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="propertyForm.invalid"
    (click)="updateProperty(propertyForm.value)"
  >
    Update
  </button>

  <a
    mat-button
    color="primary"
    [routerLink]="['/rooms/admin/property', propertyForm.get(['id'])!.value]"
  >
    Rooms
  </a>

  <a mat-button [routerLink]="['actions', 'delete']">Delete</a>
</section>

<form
  [formGroup]="propertyForm"
  (ngSubmit)="updateProperty(propertyForm.value)"
>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error>The name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    <mat-error>The email is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone number</mat-label>
    <input matInput formControlName="phoneNumber" />
    <mat-error>The phone number is required</mat-error>
  </mat-form-field>

  <section role="utilities-description">
    <section role="utilities">
      <mat-slide-toggle formControlName="hasFreeWiFi">
        <span class="font-light">Wi-Fi</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasParking">
        <span class="font-light">Parking</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasRoomService">
        <span class="font-light">Room service</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasFreeCancellation">
        <span class="font-light">Free cancellation</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="prepaymentNeeded">
        <span class="font-light">Prepayment needed</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasRestaurant">
        <span class="font-light">Restaurant</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasBreakfast">
        <span class="font-light">Breakfast</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasKitchen">
        <span class="font-light">Kitchen</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasPool">
        <span class="font-light">Pool</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasFitnessCenter">
        <span class="font-light">Fitness center</span>
      </mat-slide-toggle>
      <mat-slide-toggle formControlName="hasPetFriendlyPolicy">
        <span class="font-light">Pet friendly</span>
      </mat-slide-toggle>
    </section>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <editor appTinyEditor formControlName="description" />
      <mat-error>The property description is required</mat-error>
    </mat-form-field>
  </section>

  <section role="rating-uploader">
    <section role="rating">
      <span class="font-light">
        🚀 The property rating is: {{ propertyForm.get(['rating'])!.value }}
      </span>
      <star-rating-control formControlName="rating"></star-rating-control>
    </section>

    <app-multiple-picture-uploader
      [title]="'Upload pictures of the property 📸'"
    >
    </app-multiple-picture-uploader>
  </section>
</form>

<router-outlet hidden />
