<section role="property-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="roomForm.invalid"
    (click)="updateRoom(roomForm.value)"
  >
    Update
  </button>

  <a mat-button [routerLink]="['actions', 'delete']">Delete</a>
</section>

<form [formGroup]="roomForm" (ngSubmit)="updateRoom(roomForm.value)">
  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" />
    <mat-error>The room price is required</mat-error>
  </mat-form-field>

  <section role="utilities">
    <mat-slide-toggle formControlName="hasPrivateBathroom">
      Private bathroom
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasTowels">Towels</mat-slide-toggle>
    <mat-slide-toggle formControlName="hasHairdryer">
      Hairdryer
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasAirConditioning">
      Air conditioning
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasBalcony"> Balcony </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasRefrigerator">
      Refrigerator
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasSeaView"> Sea view </mat-slide-toggle>
  </section>
</form>

<router-outlet hidden />
