<router-outlet hidden></router-outlet>

<section role="option-list">
  <h1>Options</h1>

  <mat-nav-list>
    <a mat-list-item [routerLink]="['details']" routerLinkActive="active">
      <span matListItemTitle>Personal details</span>
    </a>

    <a mat-list-item [routerLink]="['preferences']" routerLinkActive="active">
      <span matListItemTitle>Preferences</span>
    </a>

    <a mat-list-item [routerLink]="['security']" routerLinkActive="active">
      <span matListItemTitle>Security</span>
    </a>
  </mat-nav-list>
</section>
