@if (loginService.getLoggedUserRole() == 'Admin') {
  <app-page-header title="Properties 🏡">
    <input button [(ngModel)]="name" placeholder="Search by name..." />
  </app-page-header>
} @else {
  <app-page-header title="My properties 🏘️">
    <input button [(ngModel)]="name" placeholder="Search by name..." />
    <button mat-button button color="primary" routerLink="new">Add</button>
  </app-page-header>
}

<mat-nav-list>
  <cdk-virtual-scroll-viewport scrollWindow [itemSize]="56" [maxBufferPx]="500">
    <ng-container *cdkVirtualFor="let property of propertiesDataSource">
      @if (!property) {
        <a mat-list-item disabled>
          <app-circle-placeholder matListItemIcon [radius]="35">
          </app-circle-placeholder>
          <app-line-placeholder matListItemTitle [width]="250" [height]="15">
          </app-line-placeholder>
        </a>
      } @else {
        <a mat-list-item [routerLink]="[property.id]" routerLinkActive="active">
          <span matListItemIcon>
            <mat-icon [matBadge]="property.numberOfRooms" matBadgeSize="small">
              meeting_room
            </mat-icon>
          </span>

          <span matListItemTitle>{{ property.name }}</span>
        </a>
      }
    </ng-container>
  </cdk-virtual-scroll-viewport>

  @if (
    propertiesDataSource.totalCount == 0 &&
    loginService.getLoggedUserRole() == 'Owner'
  ) {
    <h2>You have no matching properties 🤕</h2>
  }

  @if (
    propertiesDataSource.totalCount == 0 &&
    loginService.getLoggedUserRole() == 'Admin'
  ) {
    <h2>No properties 🤕</h2>
  }
</mat-nav-list>

<router-outlet hidden />
