<section role="property-actions">
  <a mat-icon-button routerLink="../" color="accent">
    <mat-icon>close</mat-icon>
  </a>

  <button
    mat-button
    color="primary"
    type="submit"
    [disabled]="roomForm.invalid"
    (click)="createRoom(roomForm.value)"
  >
    Save
  </button>
</section>

<form [formGroup]="roomForm" (ngSubmit)="createRoom(roomForm.value)">
  <mat-form-field appearance="outline">
    <mat-label>Room type</mat-label>
    <mat-select matInput formControlName="type">
      @for (type of roomTypes; track type) {
        <mat-option [value]="type.value">{{ type.type }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Number</mat-label>
    <input matInput formControlName="number" min="1" max="999" />
    @if (roomForm.get('number')?.errors?.['required']) {
      <mat-error> The number is required. </mat-error>
    }
    @if (roomForm.get('number')?.errors?.['min']) {
      <mat-error> The number must be greater or equal to 1. </mat-error>
    }
    @if (roomForm.get('number')?.errors?.['max']) {
      <mat-error> The number must be less or equal to 999. </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" type="number" min="0" max="50000" />
    @if (roomForm.get('price')?.errors?.['required']) {
      <mat-error> The price is required. </mat-error>
    }
    @if (roomForm.get('price')?.errors?.['min']) {
      <mat-error> The price must be greater or equal to 1 leu. </mat-error>
    }
    @if (roomForm.get('price')?.errors?.['max']) {
      <mat-error> The price must be less or equal to 50000 lei. </mat-error>
    }
  </mat-form-field>

  <section role="capacity">
    <mat-form-field appearance="outline">
      <mat-label>Adult capacity</mat-label>
      <input
        matInput
        formControlName="adultCapacity"
        type="number"
        min="1"
        max="8"
      />
      @if (roomForm.get('adultCapacity')?.errors?.['required']) {
        <mat-error> The adult capacity is required. </mat-error>
      }
      @if (roomForm.get('adultCapacity')?.errors?.['min']) {
        <mat-error>
          The adult capacity must be greater or equal to 1.
        </mat-error>
      }
      @if (roomForm.get('adultCapacity')?.errors?.['max']) {
        <mat-error> The adult capacity must be less or equal to 8. </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Children capacity</mat-label>
      <input
        matInput
        formControlName="childrenCapacity"
        type="number"
        min="0"
        max="8"
      />
      @if (roomForm.get('childrenCapacity')?.errors?.['required']) {
        <mat-error> The children capacity is required. </mat-error>
      }
      @if (roomForm.get('childrenCapacity')?.errors?.['min']) {
        <mat-error>
          The children capacity must be greater or equal to 0.
        </mat-error>
      }
      @if (roomForm.get('childrenCapacity')?.errors?.['max']) {
        <mat-error>
          The children capacity must be less or equal to 8.
        </mat-error>
      }
    </mat-form-field>
  </section>

  <section role="utilities">
    <mat-slide-toggle formControlName="hasPrivateBathroom">
      <span class="font-light">Private bathroom</span>
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasTowels">
      <span class="font-light">Towels</span>
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasHairdryer">
      <span class="font-light">Hairdryer</span>
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasAirConditioning">
      <span class="font-light">Air conditioning</span>
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasBalcony">
      <span class="font-light">Balcony</span>
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasRefrigerator">
      <span class="font-light">Refrigerator</span>
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hasSeaView">
      <span class="font-light">Sea view</span>
    </mat-slide-toggle>
  </section>
</form>
