<section role="header">
  <app-page-header title="All available rooms">
    <button
      mat-button
      button
      color="primary"
      [disabled]="selectedRoomIds.length == 0"
      [routerLink]="['/bookings/new']"
      [queryParams]="sendParams()"
    >
      Reserve
    </button>
    <button
      mat-button
      button
      color="warn"
      [routerLink]="['../../']"
      [queryParams]="activatedRoute.snapshot.queryParams"
    >
      Close
    </button>
  </app-page-header>

  <p>Selected rooms: {{ selectedRoomIds.length }}</p>
</section>

<mat-dialog-content>
  <cdk-virtual-scroll-viewport [itemSize]="164" [maxBufferPx]="1000">
    <ng-container *cdkVirtualFor="let room of roomsDataSource">
      @if (!room) {
        <app-room-card-placeholder></app-room-card-placeholder>
      } @else {
        <app-room-card [room]="room" (messageEvent)="receiveMessage($event)">
        </app-room-card>
      }
    </ng-container>
  </cdk-virtual-scroll-viewport>
</mat-dialog-content>
