:host {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form {
  display: grid;
  grid-template-areas: 'form button';
  grid-template-columns: 1fr auto;
  grid-column-gap: 64px;
}

section[role='personal-preferences'] {
  grid-area: form;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section[role='personal-preferences'] section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
