<section>
  <span>
    <h1>Your preferences</h1>
    <p>Personalize your experience.</p>
  </span>
</section>

<form [formGroup]="userForm">
  <section role="edit">
    <button
      mat-button
      color="primary"
      class="edit"
      type="button"
      (click)="saveChanges(userForm.value)"
      [disabled]="userForm.invalid"
    >
      Save changes
    </button>
  </section>

  <section role="personal-preferences">
    <section>
      <span>Retain search history</span>
      <mat-slide-toggle formControlName="retainSearchHistory">
      </mat-slide-toggle>
    </section>
    <section>
      <span>Send offers on email</span>
      <mat-slide-toggle formControlName="sendOffersOnEmail"></mat-slide-toggle>
    </section>
  </section>
</form>
