<app-page-header title="All user reviews">
  <button
    mat-button
    button
    color="primary"
    [routerLink]="['../../']"
    [queryParams]="activatedRoute.snapshot.queryParams"
  >
    Close
  </button>
</app-page-header>

<mat-dialog-content>
  <cdk-virtual-scroll-viewport [itemSize]="155" [maxBufferPx]="1000">
    <ng-container *cdkVirtualFor="let review of reviewsDataSource">
      @if (!review) {
        <app-review-card-placeholder></app-review-card-placeholder>
      } @else {
        <app-review-card [review]="review"></app-review-card>
      }
    </ng-container>
  </cdk-virtual-scroll-viewport>
</mat-dialog-content>
