<app-page-header title="My reviews 🖊️">
  <button
    mat-button
    button
    color="primary"
    routerLink="/bookings/my-reservations"
  >
    Leave a review
  </button>
</app-page-header>

<mat-nav-list>
  <cdk-virtual-scroll-viewport scrollWindow [itemSize]="72" [maxBufferPx]="500">
    <ng-container *cdkVirtualFor="let review of reviewsDataSource">
      @if (!review) {
        <a mat-list-item disabled>
          <app-circle-placeholder matListItemIcon [radius]="35">
          </app-circle-placeholder>
          <app-line-placeholder matListItemTitle [width]="250" [height]="15">
          </app-line-placeholder>
          <app-line-placeholder matListItemLine [width]="150" [height]="10">
          </app-line-placeholder>
        </a>
      } @else {
        <a mat-list-item [routerLink]="[review.id]" routerLinkActive="active">
          <span matListItemIcon>
            <mat-icon [ngStyle]="{ color: getColor(review.rating) }">
              tag_faces
            </mat-icon>
          </span>

          <span matListItemTitle>
            {{ review.title }}
          </span>
          <span matListItemLine>
            Your review for {{ review.propertyName }}
          </span>
          <span matListItemMeta>
            {{ review.createdOn | dateFormat }}
          </span>
        </a>
      }
    </ng-container>
  </cdk-virtual-scroll-viewport>
</mat-nav-list>

<router-outlet hidden />
