<app-page-header title="Room statistics 📈">
  <button
    mat-button
    button
    [routerLink]="['/rooms', 'admin', 'property', propertyId, roomId]"
  >
    Back
  </button>
</app-page-header>

<section id="content">
  <div *ngIf="this.statistics.monthlyStatistics.length != 0">
    <canvasjs-chart [options]="numberOfBookingsAndTotalRevenueMonthly">
    </canvasjs-chart>
  </div>

  <div *ngIf="this.statistics.monthlyStatistics.length != 0">
    <canvasjs-chart [options]="totalRevenueChartOptions"> </canvasjs-chart>
  </div>
</section>

<section *ngIf="this.statistics.monthlyStatistics.length == 0" id="no-data">
  <h1>There is no available data for statistics.</h1>
</section>

<router-outlet hidden />
