:host {
  display: grid !important;
  grid-template-areas: 'image login-form';
  grid-template-columns: 2fr 1fr;
  height: 100%;
  width: 100%;
  gap: 32px;
  overflow: hidden;
}

section[role='image'] {
  grid-area: image;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form {
  grid-area: login-form;
  justify-content: center;
  align-content: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

form p {
  margin-left: 16px;
}
