<section role="image">
  <img alt="Google maps location" src="assets/images/auth-page.jpg" />
</section>

<section role="right">
  <section role="actions">
    <a mat-icon-button routerLink="/main/our-recommendations" color="accent">
      <mat-icon>close</mat-icon>
    </a>

    <a mat-button routerLink="/auth/register" color="primary"> Register Now </a>
  </section>

  <section role="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
        <mat-error>The email is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" required type="password" />
        <mat-error>The password is required</mat-error>
      </mat-form-field>

      <p>
        Don't have an account?
        <a routerLink="/auth/register">Register here</a> now!
      </p>

      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
  </section>
</section>
