<section role="image">
  <img alt="Google maps location" src="assets/hotel1.jpg" />
</section>

<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required />
    <mat-error>The email is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" required type="password" />
    <mat-error>The password is required</mat-error>
  </mat-form-field>

  <p>Don't have an account? <a href="#">Register here</a> now!</p>

  <button mat-raised-button color="primary" type="submit">Login</button>
</form>
