:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px;
}

span {
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 8px;
}

section[role='report-actions'] {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

section[role='report-header'] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  gap: 8px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#description {
  padding: 0 32px;
  border-left: 2.5px solid #5e35b1;
}

.mat-mdc-standard-chip {
  --mdc-chip-label-text-color: white;
  --mdc-chip-elevated-container-color: #5e35b1;
}

section[role='location'] {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.font-light {
  font-size: 0.8rem;
  color: grey;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-section h2 {
  margin: 0;
}

#sender {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

#sender img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

#sender p {
  margin: 0;
}

section[role='grid'] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

section[role='left'],
section[role='right'] {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
