:host {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

section[role='options'] {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 16px 32px;
  align-items: center;
}

section[role='bottom'] {
  display: flex;
  flex-direction: column;
}

.font-light {
  font-weight: lighter;
  font-size: 0.8rem;
}
