<section>
  <span>
    <h1>Your security</h1>
    <p>Enhance your security.</p>
  </span>
</section>

<section role="options">
  <span>Change your password</span>
  <button
    mat-button
    color="primary"
    class="edit"
    [routerLink]="['actions', 'change-password']"
  >
    Change password
  </button>
</section>

<section role="bottom">
  <p class="font-light">
    * Regularly updating your password enhances your account security and
    reduces potential risks.
  </p>
</section>

<router-outlet hidden />
