<app-page-header title="My bookings 📅">
  <button
    mat-button
    button
    color="primary"
    routerLink="/main/our-recommendations"
  >
    Explore properties
  </button>
</app-page-header>

<mat-tab-group dynamicHeight="true">
  <mat-tab label="Upcoming bookings">
    <mat-nav-list>
      <cdk-virtual-scroll-viewport
        scrollWindow
        [itemSize]="72"
        [maxBufferPx]="500"
      >
        <ng-container
          *cdkVirtualFor="let booking of upcomingBookingsDataSource"
        >
          @if (!booking) {
            <a mat-list-item disabled class="placeholder">
              <app-circle-placeholder matListItemIcon [radius]="35">
              </app-circle-placeholder>

              <app-line-placeholder
                matListItemTitle
                [width]="250"
                [height]="15"
              >
              </app-line-placeholder>

              <app-line-placeholder matListItemMeta [width]="250" [height]="15">
              </app-line-placeholder>
            </a>
          } @else {
            <a
              mat-list-item
              [routerLink]="[booking.id]"
              routerLinkActive="active"
            >
              <span matListItemIcon>
                <mat-icon>watch_later</mat-icon>
              </span>

              <span matListItemTitle>
                Your upcoming stay at {{ booking.propertyName }}
              </span>

              <section matListItemMeta role="location">
                <mat-icon>location_on</mat-icon>
                <span>{{ cropLocation(booking.location) }}</span>
              </section>

              <span matListItemLine>
                From {{ booking.startDate | dateFormat }} to
                {{ booking.endDate | dateFormat }}
              </span>
            </a>
          }
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </mat-nav-list>

    @if (upcomingBookingsDataSource.totalCount == 0) {
      <h2>You have no upcoming bookings 😉</h2>
    }
  </mat-tab>

  <mat-tab label="Past bookings">
    <mat-nav-list>
      <cdk-virtual-scroll-viewport
        scrollWindow
        [itemSize]="72"
        [maxBufferPx]="500"
      >
        <ng-container *cdkVirtualFor="let booking of pastBookingsDataSource">
          @if (!booking) {
            <a mat-list-item disabled class="placeholder">
              <app-circle-placeholder matListItemIcon [radius]="35">
              </app-circle-placeholder>

              <app-line-placeholder
                matListItemTitle
                [width]="250"
                [height]="15"
              >
              </app-line-placeholder>

              <app-line-placeholder matListItemMeta [width]="250" [height]="15">
              </app-line-placeholder>
            </a>
          } @else {
            <a
              mat-list-item
              [routerLink]="[booking.id]"
              routerLinkActive="active"
            >
              <span matListItemIcon>
                <mat-icon>done</mat-icon>
              </span>

              <span matListItemTitle>
                Your stay at {{ booking.propertyName }}
              </span>

              <section matListItemMeta role="location">
                <mat-icon>location_on</mat-icon>
                <span>{{ cropLocation(booking.location) }}</span>
              </section>

              <span matListItemLine>
                From {{ booking.startDate | dateFormat }} to
                {{ booking.endDate | dateFormat }}
              </span>
            </a>
          }
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </mat-nav-list>

    @if (pastBookingsDataSource.totalCount == 0) {
      <h2>You have no past bookings ☀️</h2>
    }
  </mat-tab>
</mat-tab-group>

<router-outlet hidden />
